html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
h2 {
	margin: 0;
}
a {
	display: inline-block;
	text-decoration: none;
	outline: none;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
html,
body {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	line-height: 24px;
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
button {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.box-border {
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	background-color: #fff;
	border-radius: 3px;
}
.global-header__page {
	padding: 120px 0px;
	text-align: center;
}
.global-header__title {
	font-size: 36px;
	margin-bottom: 34px;
	span {
		color: $bg_btn;
	}
}
.global-header__text {
	max-width: 676px;
	margin: 0 auto;
	color: $text;
	font-size: 16px;
	margin-bottom: 58px;
}
.lnr {
	background-color: transparent;
}
button.lnr.lnr-cart {
	padding-left: 25px;
	position: relative;
	color: $bg_btn;
	&::before {
		position: absolute;
		left: 0px;
	}
}
button.lnr.lnr-heart {
	padding-left: 25px;
	position: relative;
	color: $text;
	&::before {
		position: absolute;
		left: 0px;
		color: $bgc_icon;
	}
}
span.lnr.lnr-arrow-left::before{
	color: $text;
  }
.breadcrumbs {
	&__inner {
		padding: 35px 0 30px;
	}
	&__list {
		li {
			color: #fff;
			display: inline-block;
			position: relative;
			& + li {
				padding-left: 24px;
				&::before {
					content: '/';
					position: absolute;
					left: 8px;
				}
			}
			&:first-child {
				a,
				span {
					color: #fff;
				}
			}
			&:last-child {
				a,
				span {
					color: $breadcrumbs;
				}
			}
		}
	}
}
